body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #C0C0C0;
}

input {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}

#tasks-list {
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#submit {
    margin-top: 20px;
    padding: 10px;
    background-color: #008000;
    color: white;
    border-radius: 5px;
    border: none;
}

.task {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid #eaeaea;
}

.task input[type="checkbox"] {
    transform: scale(2);
}

.task button {
    cursor: pointer;
    color: red;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}

.filters {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.filters button {
    padding: 10px 15px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}